## Print Function

In [1]:
print("Breaking the tradition -- no 'hello world' as first text")

Breaking the tradition -- no 'hello world' as first text

## Variable Assignment

In [2]:
a = 27

In [3]:
a = b = 11

In [4]:
a

11

In [5]:
b

11

In [6]:
a, b, c = 11, 2, 2000  #multiple assignment

In [7]:
a

11

In [8]:
b

2

In [9]:
c

2000

In [10]:
f = 3.1413

In [11]:
f

3.1413

In [12]:
str1 = "samshitha"

In [13]:
str1

'samshitha'

In [14]:
print(str1)

samshitha

## Datatypes

In [15]:
type(a)

int

In [16]:
type(str)

type

In [17]:
type(f)

float

In [18]:
list1 = ['feb', 11, 'june', 27]

In [19]:
list1

['feb', 11, 'june', 27]

In [20]:
type(list1)

list

In [21]:
tup = ('s', 1, 'p', 2)

In [22]:
tup

('s', 1, 'p', 2)

In [23]:
type(tup)

tuple

In [24]:
dict1 = {'s' : 2000, 'p' : 1999, "feb" : 11, "june" : 27}

In [25]:
dict1

{'s': 2000, 'p': 1999, 'feb': 11, 'june': 27}

In [26]:
type(dict1)

dict

## String Slicing

In [27]:
str1 = "Python Programming"

In [28]:
str1[::-1]

'gnimmargorP nohtyP'

In [29]:
str1[6::-2]

' otP'

In [30]:
str1[5::-1]

'nohtyP'

In [31]:
str1[5::-2]

'nhy'

In [32]:
str1[:6:-1]

'gnimmargorP'

## List

In [33]:
list1 = [127, "Python", "Programming", 343]

In [34]:
list1.pop()

343

In [35]:
list1

[127, 'Python', 'Programming']

In [36]:
list1.pop(1)

'Python'

In [37]:
list1

[127, 'Programming']

In [38]:
list1 = [127, "Python", "Programming", 343]

In [39]:
list1[0]

127

In [40]:
list1[len(list1)-1]

343

In [41]:
list1.insert(1, 55)

In [42]:
list1

[127, 55, 'Python', 'Programming', 343]

In [43]:
list2 = [[2, 6, 4],
         [1, 2, 3]]

In [44]:
list2

[[2, 6, 4], [1, 2, 3]]

In [45]:
len(list2)

2

In [46]:
list2[1]

[1, 2, 3]

In [47]:
list2[0][2]

4

In [48]:
list2.append([9, 8, 7])

In [49]:
list2

[[2, 6, 4], [1, 2, 3], [9, 8, 7]]

In [50]:
list2.insert(1, [5, 0, 10])

In [51]:
list2

[[2, 6, 4], [5, 0, 10], [1, 2, 3], [9, 8, 7]]

In [52]:
list2.pop()

[9, 8, 7]

In [53]:
list2

[[2, 6, 4], [5, 0, 10], [1, 2, 3]]

In [54]:
list2[1].pop(1)

0

In [55]:
list2

[[2, 6, 4], [5, 10], [1, 2, 3]]

In [56]:
for i in range(0, len(list2)):
    for j in range(0, len(list2[i])):
        print(list2[i][j] , end = " ")

2 6 4 5 10 1 2 3

In [57]:
for i in range(len(list2)-1, -1, -1):
    for j in range(len(list2[i])-1, -1, -1):
        print(list2[i][j] , end = " ")

3 2 1 10 5 4 6 2

In [58]:
list3 = [8, 59, 2, 5, 0, 1]
list3.sort()
list3

[0, 1, 2, 5, 8, 59]

In [59]:
list3.append(67)
list3.append(7)
list3.extend([9, 8, 7, 5])
list3.sort()

In [60]:
list3

[0, 1, 2, 5, 5, 7, 7, 8, 8, 9, 59, 67]

## Tuples

In [61]:
tup1 = (56, 87, 'sam', 2000)

In [62]:
tup1[1]

87

In [63]:
tup1[0] + tup1[3]

2056

In [64]:
tup1[1:4]

(87, 'sam', 2000)

In [65]:
tup2 = (123, 345, 567)
str(tup2[0])[1] + ' ' + str(tup2[1])[1] + ' ' + str(tup2[2])[1]

'2 4 6'

In [66]:
#reversing all characters of all elements in a tuple
str(tup2[0])[2::-1] + ' ' + str(tup2[1])[2::-1] + ' ' + str(tup2[2])[2::-1]

'321 543 765'

## Dictionaries

In [67]:
dict2 = {'Procedural' : 'C', 'Scripting' : 'Python', 'Functional': 'Haskell'}

In [68]:
dict2['Procedural']

'C'

In [69]:
dict2.keys()

dict_keys(['Procedural', 'Scripting', 'Functional'])

In [70]:
dict2.values()

dict_values(['C', 'Python', 'Haskell'])

In [71]:
dict2['Symbolic'] = 'Mathematica'

In [72]:
dict3 = {'ObjectOriented' : 'Java', 'Logical' : 'Prolog'}      
dict2.update(dict3)  #appending two dictionaries
dict2

{'Procedural': 'C',
 'Scripting': 'Python',
 'Functional': 'Haskell',
 'Symbolic': 'Mathematica',
 'ObjectOriented': 'Java',
 'Logical': 'Prolog'}

## Taking input from the user

In [73]:
str3 = input("Enter your name: ")

Enter your name: Samshitha

In [74]:
num = int(input("Enter a number: "))
print("Number you have entered is: ", num)

Enter a number: 57
Number you have entered is:  57